<phpunit colors="true" strict="true" backupGlobals="false" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="All">
            <directory>test</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="error_reporting" value="32767"/>
    </php>
</phpunit>
